<?xml version="1.0"?>
<!-- 
/**
 * @category   MN
 * @package    txtlocal_sendsms
 * @author     TextLocal
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <txtlocal_sendsms>
            <version>1.0.0</version>
        </txtlocal_sendsms>
    </modules>
    <admin>
        <routers>
			<sendsms>
				<use>admin</use>
				<args>
					<module>txtlocal_sendsms</module>
					<frontName>sendsms</frontName>
				</args>
			</sendsms>
        </routers>
    </admin>
    <adminhtml>
		<translate>
			<modules>
				<txtlocal_sendsms>
					<files>
						<default>txtlocal_sendsms.csv</default>
					</files>
				</txtlocal_sendsms>
			</modules>
        </translate>
		<menu>
			<sendsms translate="title" module="sendsms">
				<title>TextLocal</title>
				<sort_order>71</sort_order>               
				<children>
					<credits translate="title" module="sendsms">
						<title>Buy Credits</title>
						<sort_order>0</sort_order>
						<action>adminhtml/system_config/edit/section/buycredits</action>
					</credits>
					<settings translate="title" module="sendsms">
						<title>Settings</title>
						<sort_order>15</sort_order>
						<action>adminhtml/system_config/edit/section/sendsms</action>
					</settings>
				</children>
			</sendsms>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<sendsms translate="title" module="sendsms">
							<title>TextLocal</title>
							<sort_order>71</sort_order>               
							<children>
								<credits translate="title" module="sendsms">
									<title>Buy Credits</title>
									<sort_order>0</sort_order>
								</credits>
								<settings translate="title" module="sendsms">
									<title>Settings</title>
									<sort_order>15</sort_order>
								</settings>
							</children>
						</sendsms>
						<system>
							<children>
								<config>
									<children>
                                        <buycredits translate="title" module="sendsms">
                                            <title>Buy Credits</title>
                                            <sort_order>55</sort_order>
                                        </buycredits>
										<sendsms translate="title" module="sendsms">
											<title>Settings</title>
											<sort_order>50</sort_order>
										</sendsms>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sendsms>
					<file>sendsms.xml</file>
				</sendsms>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <sendsms>
                <class>txtlocal_sendsms_Model</class>
                <resourceModel>sendsms_mysql4</resourceModel>
            </sendsms>
            <sendsms_mysql4>
                <class>txtlocal_sendsms_Model_Mysql4</class>
                <entities>
                    <sendsms>
                        <table>sendsms</table>
                    </sendsms>
                </entities>
            </sendsms_mysql4>
        </models>
        <resources>
            <sendsms_setup>
                <setup>
                    <module>txtlocal_sendsms</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sendsms_setup>
            <sendsms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sendsms_write>
            <sendsms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sendsms_read>
        </resources>
        <blocks>
            <sendsms>
                <class>txtlocal_sendsms_Block</class>
            </sendsms>
        </blocks>
        <helpers>
            <sendsms>
                <class>txtlocal_sendsms_Helper</class>
            </sendsms>
        </helpers>
		<events>
			<checkout_onepage_controller_success_action>
                <observers>
                    <txtlocal_sendsms_Created>
						<type>singleton</type>
                        <class>txtlocal_sendsms_Model_Observer</class>
                        <method>sendSmsOnOrderCreated</method>
                    </txtlocal_sendsms_Created>
                </observers>
            </checkout_onepage_controller_success_action>
			<sales_order_save_after>
				<observers>
                    <txtlocal_sendsms_Order_Hold>
						<type>singleton</type>
                        <class>txtlocal_sendsms_Model_Observer</class>
                        <method>sendSmsOnOrderHold</method>
                    </txtlocal_sendsms_Order_Hold>
					<txtlocal_sendsms_Order_Unhold>
						<type>singleton</type>
                        <class>txtlocal_sendsms_Model_Observer</class>
                        <method>sendSmsOnOrderUnhold</method>
                    </txtlocal_sendsms_Order_Unhold>
					<txtlocal_sendsms_Order_Canceled>
						<type>singleton</type>
                        <class>txtlocal_sendsms_Model_Observer</class>
                        <method>sendSmsOnOrderCanceled</method>
                    </txtlocal_sendsms_Order_Canceled>
                </observers>
			</sales_order_save_after>
			<sales_order_shipment_save_after>
                <observers>
                    <txtlocal_sendsms_Shipment_Created>
						<type>singleton</type>
                        <class>txtlocal_sendsms_Model_Observer</class>
                        <method>sendSmsOnShipmentCreated</method>
                    </txtlocal_sendsms_Shipment_Created>
                </observers>
            </sales_order_shipment_save_after>
		</events>
    </global>
	<default>
		<sendsms>
			<orders>
				<enabled>0</enabled>
				<sender>Magento</sender>
				<message>Hello {{firstname}}. Your order has been received. Thank you for your purchase!</message>
				<notify>0</notify>
			</orders>
			<order_hold>
				<enabled>0</enabled>
				<sender>Magento</sender>
				<message>Hello {{firstname}}. Your order {{order_id}} has been placed on hold.</message>
			</order_hold>
			<order_unhold>
				<enabled>0</enabled>
				<sender>Magento</sender>
				<message>Hello {{firstname}}. Your order {{order_id}} has been released from holding status.</message>
			</order_unhold>
			<order_canceled>
				<enabled>0</enabled>
				<sender>Magento</sender>
				<message>Hello {{firstname}}. Your order {{order_id}} has been cancelled.</message>
			</order_canceled>
			<shipments>
				<enabled>0</enabled>
				<sender>Magento</sender>
				<message>Hello {{firstname}}. Your order ({{order_id}}) has been shipped. Thank you for buying from us!</message>
			</shipments>
		</sendsms>
	</default>
</config>